@model IEnumerable<PSMS_Beheer.Models.ParameterZonderSubtypeZoekViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.parameterTypeDropdownlist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zoek)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.parameterTypeDropdownlist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zoek)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
