@model PSMSData.Model.parametermetsubtype
@{
    ViewBag.Title = "View";
}

<h2>test</h2>
<h5>@ViewBag.subtypenaam</h5>
<h5>@ViewBag.geldigheidvan</h5>
<h5>@ViewBag.waarde</h5>
<h5>@ViewBag.geldigheidtot</h5>
<h5>@ViewBag.beschrijving_kort</h5>
<h5>@ViewBag.beschrijving_lang</h5>
